body {
  font-family: 'Ubuntu';
}

h1 {
  font-size: 1.2rem;
}

.navbar-container {
  width: 100%;
  height: 75px;
  background: rgb(120, 182, 253);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo-container {
  width: 25%;
}

.logo-text {
  font-family: 'Bubblegum Sans';
  font-size: 1.5rem;
  font-weight: 700;
  
}

.navlinks-container {
  font-family: 'Bubblegum Sans';
  font-weight: 400;
  font-size: 1.4rem;
  
}

.navlink {
  margin: 0 15px;
}

.welcome-message-container {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}